.gray-fade-right {
  background: url('/assets/gray-fade-right.svg');
  background-size: 100% 100%;
  width: 100%;
}

.pythinya-scale {
  width: 50%;
  height: auto;
}

.divider-width {
  width: 70%;
}

.signup-margin-top {
  margin-top: 10%;
}
